* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialised;
}

html {
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

html, body {
  --black: hsl(240, 6%, 13%);
  --grey: #C4C4CC;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialised;
}

body {
  display: grid;
  place-items: center; 
}

main {
background: url(images/background.svg);
width: 375px;
height: 812px;
}

.container {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: var(--grey);
  
}

.avatar {
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;
  color: #E1E1E6;
  margin-top: 1.75rem;
  margin-bottom: 10px;
}

#userLink {
 text-decoration: none;
 color: #C4C4C4;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 0.5rem;
}

#userBio {
  margin: 2.5em 0;
  color: #C4C4C4
}

#userSocialMedia {
  margin-top: 4.30rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

li a:hover {
  width: 45px;
  height: 45px;
  border: 1px;
  border-style: solid;
  border-color: #13111b;
  transition: 0.2s;
  border-bottom-color: #f35653;
  border-radius: 15%;
}


